/* 全局 css 变量 */
@import "./variables.css";
/* Transition */
@import "./transition.scss";
/* Element Plus */
//@import "./element-plus.scss";
/* 注册主题 */
@import "./theme//register.scss";

html {
  height: 100%;
}
body {
  height: 100%;
  background-color: var(--caix-body-bg-color);
  margin: 0;
  padding: 0;
}
#app {
  height: 100%;
}
.app-container {
  padding: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.mr {
  margin-right: 10px;
}
.ml {
  margin-left: 10px;
}
